body {
	font-family: tahoma, helvetica, sans-serif;
	font-size: 24pt;
	text-align: center;
}

a:link, a:visited {
	color: blue;
	text-decoration: none;
}

a:hover {
	color: blue;
	text-decoration: underline;
}

#out {
	padding: 0.25em;
	border: solid 1px lightgray;
}

.small {
	font-size: 16pt;
}
